* {
    margin: 0;
    padding: 0;
  
    body {
      background-image: url("./Images/port.jpg");
      background-repeat: no-repeat;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: fixed; 
      color: #0b0203d7; 
      font-weight: bold;
      font-family: "Arial", sans-serif; 
    }
  
    header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      background-color: rgb(17, 5, 5);
      padding: 0 20px;
      text-decoration: none;
    }
    
    header nav .left {
      display: flex;
      align-items: center;
    }
    
    header nav .left .logo {
      width: 40px; 
      height: 50px;
      border-radius: 50%; 
      margin-right: 10px;
    }
  
    header nav .left a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }
  
    nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
    }
  
    nav ul li {
      margin: 0 23px;
    }
  
    nav ul li a {
      text-decoration: none;
      color: rgb(240, 233, 233);
      padding: 10px 0;
      transition: color 0.5s ease, border-bottom 0.5s ease;
    }
    nav ul li a:hover {
      font-weight: bold;
      color: #ab8432;
      border-bottom: 3px solid #ab8432;
    }
  
    .bg-gray-100 img {
      transition: transform 0.3s ease;
    }
    
    .bg-gray-100 img:hover {
      transform: scale(1.05);
    }
    
    .btn {
      transition: background-color 0.3s, transform 0.3s;
      color: #ffffff;
      font-weight: bold;
  
    }
    
    .btn:hover {
      background-color: #ab8432;
      color: #090617;
      font-weight: bold;
      transform: scale(1.05);
    }
    
    .footer {
        display: flex;
        padding: 23px 122px;
      }
    
      .footer ul {
        list-style: none;
      }
    
      footer {
        background-color: rgba(24, 15, 19, 0.776);
        color: #fff;
        padding: 20px 0;
        border-top: 3px solid #33230a;
      }
    
      .footer-content {
        display: flex;
        justify-content: space-around;
        padding: 20px;
      }
    
      .footer-section {
        max-width: 300px;
      }
    
      .footer-section h3,
      .footer-section h4 {
        margin-bottom: 10px;
      }
    
      .footer-section p {
        margin-bottom: 20px;
      }
    
      .footer-section ul {
        list-style: none;
        padding: 0;
      }
    
      .footer-section ul li {
        margin-bottom: 10px;
      }
    
      .footer-section ul li a {
        color: #fff;
        text-decoration: none;
        transition: color 0.5s ease, border-bottom 0.5s ease;
      }
    
      .footer-section ul li a:hover {
        font-weight: bold;
        border-bottom: 2px solid #ab8432 ;
        color: #ab8432;
      }
    
      .footer-bottom {
        text-align: center;
        border-top: 3px solid #33230a;
        padding: 10px 0;
        margin-top: 20px;
      }
}